.wrapper {
  width: 100%;
  padding-bottom: 50px;
}

.decorSection {
  position: absolute;
  z-index: -1;
  top: 0;

  width: 100%;
  height: 290px;
  background-color: #f2f5fc;
  border-bottom-left-radius: 100px;
}

@media screen and (min-width: 768px) {
  .decorSection {
    height: 526px;
  }

  .decorImageBottom {
    position: absolute;
    bottom: 64px;
    right: 88px;
    z-index: -1;
    width: 183px;
    height: 110px;
    background-image: url('../../../images/report_bg_bottom768.svg');
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    position: relative;
    z-index: 100;
    padding-bottom: 83px;
  }
  .decorSection {
    height: 519px;
  }

  .decorImageBottom {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;

    width: 100%;
    height: 232px;

    background-image: url('../../../images/report_bg_bottom1280.svg');
  }
}
