@import '../../assets/_variables.css';

.buttons {
  width: 100%;
  margin-top: 83px;
  display: flex;
  justify-content: center;
}

button {
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  padding: 0;
  width: 125px;
  height: 44px;
  background-color: #f5f6fb;
  color: var(--main-text-color);
  cursor: pointer;
}

button:active {
  box-shadow: -1px -2px 5px rgba(170, 178, 197, 0.4);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  width: 100%;
}

input {
  width: 100%;
  height: 40px;
  background-color: #f5f6fb;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  letter-spacing: 0.02em;
  padding-left: 20px;
}

input::placeholder {
  color: #c7ccdc;
}

.nameInput {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.categoryInput {
  border-bottom-right-radius: 16px;
}

.summInput {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-right: none;
  width: 84px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  letter-spacing: 0.02em;
  outline: none;
}

.summInput::placeholder {
  color: black;
}

.summField {
  margin-top: 30px;
  /* margin-left: 50px;
  margin-right: 50px; */
  width: 183px;
}

.summWrapper {
  display: flex;
  justify-content: center;
}

.summButton {
  height: 40px;
  background: #f5f6fb;
  border: none;
  border: 2px solid #ffffff;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  background: url('./calculator.svg') center no-repeat;
}

.summButton:active {
  box-shadow: 1px 2px 5px rgba(170, 178, 197, 0.4);
}

.uah {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  padding-right: 15px;
}

.enterButton {
  background-color: #ff751d;
  color: #ffffff;
  margin-right: 15px;
  border-radius: 16px;
  box-shadow: 1px 2px 5px rgba(170, 178, 197, 0.4);
}

.enterButton:active {
  filter: drop-shadow(1px 3px 5px rgba(255, 107, 8, 0.35));
}

.clearButton {
  border-radius: 16px;
  box-shadow: 1px 2px 5px rgba(170, 178, 197, 0.4);
}

.summIcon {
  fill: #1d2e4a;
}
