.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  align-items: center;
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 767) {
  .container {
    max-width: 480px;
    padding-top: 21px;
    padding-bottom: 51px;
  }
}

.nav {
  display: flex;
}
.reportTitle {
  display: inline-flex;
  justify-content: center;
  font-weight: bold;
  font-style: normal;
  padding-bottom: 0;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
  min-width: 96px;
  align-items: center;
}
.reportArrow {
  border: none;
  background-color: inherit;
}
.coastWrapper {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  color: #ff751d;
  align-items: center;
  list-style: none;
  font-size: 12px;
  justify-content: center;
  margin: 0px;
  padding-top: 20px;
}

.svg {
  fill: #071f41;
  color: #f5f6fb;
  max-width: 56px;
  max-height: 56px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg:hover,
.svg:focus {
  fill: #ff751d;
  color: #ffdac0;
  transform: rotate(360deg);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active {
  max-width: 56px;
  max-height: 56px;
  margin-top: 5px;
  margin-bottom: 5px;
  fill: #ff751d;
  color: #ffdac0;
}

.card {
  text-align: center;

  height: 135px;
  border-bottom: 1px solid #e0e5eb;
  margin-bottom: 20px;
  font-size: 12px;
  align-items: 1.17;
  box-sizing: border-box;
  flex-basis: calc((100% - 20px) / 3);
}
.card:hover,
.card:focus {
  border-radius: 10%;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cardButton {
  border: none;
  background: none;
  cursor: pointer;
}
.cardTitle {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  padding-top: 10px;
  color: #52555f;
}
@media screen and (min-width: 768px) {
  .container {
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    min-width: 666px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px; */
  }
  .card {
    text-align: center;
    flex-basis: calc((100% - 77px) / 6);
    border-bottom: 0;
  }
  .card:not(:nth-child(6n)) {
    margin-right: 10px;
    font-size: 12px;
    align-items: 1.17;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .card {
    text-align: center;
    flex-basis: calc((100% - 100px) / 6);
  }
  .card:not(:nth-child(6n)).reportCard:not(:last-child) {
    margin-right: 20px;
  }
  .svg {
    max-width: 58px;
    max-height: 58px;
  }
}
