@import '../node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.NavLink {
  font-size: 20px;
  color: currentColor;
}

.NavLink--active {
  color: palevioletred;
}

::-webkit-scrollbar {
  /* 1 - scrollbar */
  width: 4px;
  height: 4px;
  background-color: #f5f6fb;
}
::-webkit-scrollbar-thumb {
  /* 5 - slider */
  border-radius: 2px;
  background-color: #ff751d;
}

/* @media screen and (min-width: 720px) {
  html {
    box-sizing: border-box;
    width: 100vw;
    overflow: hidden;
  }
  body {
    background-color: rgb(245, 235, 204);
  }
} */

li {
  list-style: none;
}
